<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Podcasts</title>
    <link rel="stylesheet" href="/podcasts_styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <% if (podcasts.length > 0) { %>
    <div class="podcast-header">
      <h1>Podcasts</h1>
    </div>
    <div class="podcast-grid">
      <% for (let podcast of podcasts) { %>
      <a href="/podcasts/<%= podcast.uuid %>" class="podcast-card">
        <img src="<%= podcast.imageUrl %>" alt="Podcast Image" />
        <h2><%= podcast.name %></h2>
      </a>
      <% } %>
    </div>
    <% } else { %>
    <h1>No Podcasts Found!</h1>
    <% } %>
  </body>
</html>
